{% extends 'base.html' %}

{% block customcss%}
{% endblock customcss%}

{% block header%}
<div class="alert alert-warning" role="alert">相談・雑談</div>


{% endblock header%}

{% block content%}
<div class='container'>
  <div class="alert alert-success" role="alert">
    <p>タイトル：{{ object.title }}</p>
    <p>コメント：{{ object.content }}</p>
  </div>
  <a href="{% url 'create_chat' comment.pk %}" target="_blank" rel="nofollow">返信する</a>
  <a href="{% url 'good' object.pk %}" class="btn btn-primary " role="button" aria-pressed="true">いいね</a>
</div>
{% endblock content%}