{% extends 'base.html' %}

{% block customcss %}
{% endblock customcss %}

{% block header %}
<div class="alert alert-warning" role="alert">相談・雑談</div>
<p>気になるタイトルをのぞいてみよう！</p>
{% endblock header %}

{% block content %}
<div class='container'>
  {% for item in object_list %}
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">
        <a href="{% url 'detail_chat' item.pk %}">{{ item.title }}</a>
      </h5>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
  {% comment %} <div class="card">
    <div class="card-body">
      <p>タイトル<a href="{% url 'detail_chat' item.pk %}">{{ item.title }}</a></p>
    </div>
  </div> {% endcomment %}
  {% endfor%}
  {% comment %} {% endfor %}   {% endcomment %}
</div>
{% endblock content %}